page-home {

}
.scrollmenu {
/*     overflow: auto;
white-space: nowrap; */
    width: 300px !important;

}

.scrollmenu a {
    display: inline-block;
    color: #333 !important;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    width: 150px  !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
	color: #ccc ;
	font-size: 10px ;
}

.title {
	color: #333 ;
	font-size: 12px ;
}


.scrollmenu a:hover {
    background-color: #777;

}